.toolbar--votes {
    .icon {
        font-size: 3rem;
        font-weight: 600;
        margin: 1rem 2rem;
    }

    .amount-donated {
        font-size: 2rem;
    }
}

.opinions {
    list-style-type: none;
    margin: 5rem;

    .opinion {
        margin: 1rem;
        padding: 1rem;

        .opinion-label {
            text-transform: uppercase;
        }
    }
}

#intro {
    font-size: 2rem;
    max-width: 100rem;
    margin: 2rem auto;

    #disclaimer {
        margin: 2rem;
        font-size: 1.5rem;
    }
}

.social-icons-large {
    font-size: 3rem;
    margin: 1rem .5rem;
}

.action-icon-group {
    display: inline-block;

    &:hover {
        transform: scale(1.2,1.2);

        &::after {
            transform: scaleX(1.5) scaleY(1.7);
            opacity: 0;
        }
    }

    &:active {
        transform: rotate(20deg);
    }

    .action-icon {
        font-size: 3rem;
        font-weight: 400;
        margin: 1rem;
    }
    
    .action-count {
        color: $color-green;
        display:block;
        transform: translateY(35px);
    }

    .action-add {
        color: $color-green;
        display:block;
        transform: translateY(35px);
    }
}

iframe {
    max-width: 100%;
    width: 32rem;
    height: 72rem;
    border: 0;
}