label {
    color: $color-white;
    display: inline-block;
    width: 100%;
    font-weight: 300;
}

input {
    text-align: center;
    max-width: 15rem;
    width: 75%;
    height: 4rem;
    font-size: 2rem;
    border: 0.1rem solid $color-white;
    color: $color-white;
    background-color: $color-green;
    outline: none;
}

.checkbox {
    background-color: $color-green;
    border-color: $color-white;
}

input#check {
    position: absolute;
    opacity: 0;

    &:checked+label svg path {
        stroke-dashoffset: 0;
    }

    &:focus+label {
        transform: scale(1.03);
    }
}

.checkbox {
    .checkbox__icon {
        width: 4rem;
        height: 4rem;
    }

    input[type=checkbox] {
        display: none;

        &:checked~.checkbox__icon {
            /* styling for checked checkbox goes here */
        }

        &:disabled~.checkbox__icon {
            /* styling for disabled checkbox goes here */
        }
    }
}

textarea {
    text-align: center;
    display: inline-block;

    max-width: 30rem;
    width: 100%;
    height: 25rem;
    font-size: 2rem;
    border: 0.1rem solid $color-white;
    color: $color-white;
    background-color: $color-green;
    outline: none;
}

.short-textarea {
    height: 100px;
}

.tall-textarea {
    height: 400px;
}

select {
    height: 4rem;
    font-size: 2rem;
    border: 0.1rem solid $color-white;
    color: $color-white;
    background-color: $color-green;
    outline: none;

    option {
        outline: none;
    }
}

button {
    color: $color-white;
    background-color: $color-green;
    font-size: 1.5rem;
    max-width: 25rem;
    width: 35%;
    height: 5rem;
    padding: .5rem;
    margin: .5rem;
    border: 0.1rem solid $color-white;
    outline: none;
}

.wide-input {
    max-width: 30rem;
    width: 95%;
}

.wide-button {
    max-width: 25rem;
    width: 55%;
}

.small-button {
    width: 30%;
    max-width: 20rem;
    margin: 0rem;
    height: 3rem;

    &:enabled {
        animation: shake 0.25s cubic-bezier(.36, .07, .19, .97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 100rem;
    }

    &:hover {
        background-color: $color-white;
        color: $color-green;
    }
}

.large-button {
    height: 8rem;
    max-width: 25rem;
    width: 55%;
}

.selected-button {
    background-color: $color-white;
    color: $color-green;
}

.cursor-pointer {
    cursor: pointer;
}