@import './variables';

#header {
    position: relative;
    text-align: left;
    min-height: $header-minimum-height;
    list-style-type: none;
    padding: 1rem;

    @media screen and (max-width: $breakpoint-small) {
        padding-top: 5rem;
    }

    .inline-nav {
        display: inline-block;
        padding: 0rem .5rem;
    }

    .right-nav {
        display: flex;
        position: absolute;
        right: 0;
        top: 0;
        margin: 0 1rem;
        padding: 1rem;

        .social-icons-header {
            margin-left: 1rem;
        }
    }

    .social-dropdown {
        text-align: right;
    }
}

.view {
    min-height: $view-minimum-height;
    padding: $view-padding-vertical $view-padding-horizontal;

    .container {
        max-width: 100rem;
        margin: 1rem auto;
    }
}

#footer {
    min-height: $footer-minimum-height;
    list-style-type: none;
    margin-right: 1rem;

    a {
        color: $color-white;
    }

    li {
        display: inline-block;
        padding: 0rem 0.25rem;
    }
}

.small-margin {
    margin: 1rem;
}

.medium-margin {
    margin: 2.5rem;
}

.medium-margin-vertical {
    margin: 2.5rem 0;
}

.medium-margin-horizontal {
    margin: 0 2.5rem;
}