@import './variables';

#header {
    position: relative;
    text-align: left;
    min-height: $header-minimum-height;
    list-style-type: none;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;

    @media screen and (max-width: $breakpoint-small) {
        padding-top: 40px;
    }

    .inline-nav {
        display: inline-block;
        padding: 0 5px;
    }

    .right-nav {
        display: flex;
        position: absolute;
        right: 0;
        top: 0;
        margin: 0 10px;
        padding: 10px;

        .social-icons-header {
            margin-left: 10px;
        }
    }

    .social-dropdown {
        text-align: right;
    }
}

.view {
    min-height: $view-minimum-height;
    padding: $view-padding-vertical $view-padding-horizontal;
    font-size: 2rem;
}

.container {
    max-width: 1000px;
    margin: 10px auto;
}

#footer {
    min-height: $footer-minimum-height;
    list-style-type: none;
    margin-right: 10px;

    li {
        display: inline-block;
        padding: 0 3px;
    }
}

.heading {
    margin: 0rem auto 20px;
}

.small-margin {
    margin: 10px;
}

.medium-margin {
    margin: 25px;
}

.medium-margin-vertical {
    margin: 25px 0;
}

.medium-margin-horizontal {
    margin: 0 25px;
}

.large-margin-vertical {
    margin: 50px 0;
}

.btcpay-iframe {
    max-width: 100%;
    width: 320px;
    height: 720px;
    border: 0;
}