.list {
    max-width: 100rem;
    list-style-type: none;
    margin: 2rem auto;

    border: solid;
    border-width: .2rem;
    border-color: $color-white;
    border-radius: 2rem;
    overflow: hidden;
    word-wrap: break-word;

    transition: all .5s;

    .ordered-list {
        list-style: decimal inside;
    }

    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($color-blue-grey, .2);

        &::after {
            transform: scaleX(1.5) scaleY(1.7);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba($color-blue-grey, .1)
    }

    &-vote-toolbar {
        .icon {
            font-size: 3rem;
            font-weight: 600;
            margin: 1rem 2rem;
        }

        .vote-icon:active {
            animation: shake .5s;
            transform: scaleX(1.5) scaleY(1.7);
        }

        .already-voted {
            color: $color-dark-green;
        }
    
        .amount-donated {
            font-size: 2rem;
        }
    }

    &-action-group {

        &:hover {
            transform: scale(1.2, 1.2);
            
            &::after {
                transform: scaleX(1) scaleY(1);
            }
        }

        &:active {
            transform: rotate(5deg);
        }

        &-icon {
            display: inline-block;
        
            .action-icon {
                font-size: 3rem;
                font-weight: 400;
                margin-bottom: 1rem;
            }
        
            .action-count {
                color: $color-green;
                display: block;
                transform: translateY(25px);
            }
        }
    }

    &-submissions-toolbar {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .icon-group {
            display: flex;
            flex-direction: column;
            justify-content: center;

            align-items: center;
            font-size: 1.75rem;
        
            margin: 0 15px;
            animation: moveInRight .5s;
            cursor: pointer;            
        
            &:hover {
                transform: scale(1.2, 1.2);
                
                &::after {
                    transform: scaleX(1) scaleY(1);
                }
            }
        
            &:active {
                transform: rotate(5deg);
            }
        }

        .submission-form {
            width: 100%;
        }
    }
}