h1 {
    font-size: 4rem;
}

.small-text {
    font-size: 1.4rem;
}

.normal-text {
    font-size: 2rem;
}

.fancy-link {
    color: $color-white;
    text-transform: uppercase;
    text-decoration: none;
}

.uppercase {
    text-transform: uppercase;
}

.media-type {
    font-weight: 700;
    margin-right: 1rem;
}

hr {
    color: $color-white;
    border: 1;
    border-color: $color-white;
}

.loading {
    animation: throb .5s infinite;
}