.list {
    max-width: 100rem;
    list-style-type: none;
    margin: 2rem auto;

    border: solid;
    border-width: .2rem;
    border-color: $color-white;
    border-radius: 2rem;
    overflow: hidden;
    word-wrap: break-word;

    transition: all 1s;

    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($color-dark-grey, .2);

        &::after {
            transform: scaleX(1.5) scaleY(1.7);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba($color-dark-grey, .1)
    }

    &-vote-toolbar {
        .icon {
            font-size: 3rem;
            font-weight: 600;
            margin: 1rem 2rem;
        }
    
        .amount-donated {
            font-size: 2rem;
        }
    }

    &-action-toolbar {
        display: inline-block;
    
        &:hover {
            transform: scale(1.2, 1.2);
    
            &::after {
                transform: scaleX(1.5) scaleY(1.7);
                opacity: 0;
            }
        }
    
        &:active {
            transform: rotate(20deg);
        }
    
        .action-icon {
            font-size: 3rem;
            font-weight: 400;
            margin: 1rem;
        }
    
        .action-count {
            color: $color-green;
            display: block;
            transform: translateY(35px);
        }
    }
}

.large-social-icons {
    font-size: 3rem;
    margin: 1rem .5rem;

    animation: moveInRight .5s;
    transition: all .2s;

    &:hover {
        transform: skewY(1deg) skewX(2deg) scale(1.2);
    }
}

.extra-large-social-icons {
    font-size: 7rem;
    margin: 1rem .5rem;

    animation: moveInRight .5s;
    transition: all .2s;

    &:hover {
        transform: skewY(1deg) skewX(2deg) scale(1.2);
    }
}

.btcpay-iframe {
    max-width: 100%;
    width: 32rem;
    height: 72rem;
    border: 0;
}

.pointer-cursor {
    cursor: pointer;
}