$color-primary: #3A606E;
$color-secondary: #607B7D;
$color-tertiary: #828E82;
$color-beige: #AAAE8E;

$color-white: #E0E0E0;
$color-green: #41b883;
$color-blue: #0798ec;
$color-light-blue: #1bcee6;
$color-dark-blue: #2c3e4f;
$color-purple: #ba5be9;
$color-yellow: #fec401;
$color-orange: #ff5f45;
$color-pink: #ee1a59;
$color-grey: #b4b8ab;