$color-green: #41b883;
$color-dark-green: #3A606E;
$color-blue: #0798ec;
$color-white: #fdfdfd;
$color-blue-grey: #607B7D;

$header-minimum-height: 5vh;
$footer-minimum-height: 5vh;
$view-minimum-height: 76vh;

$breakpoint-small: 700px;

$view-padding-horizontal: 1vw;
$view-padding-vertical: 1vh;

$grow-and-distort: skewY(1deg) skewX(2deg) scale(1.2);

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-160px); 
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0)
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(160px)
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0)
    }
}

@keyframes throb {
    0% {
        transform: scale(1)
    }

    20% {
        transform: scale(1.1)
    }

    40% {
        transform: scale(1.2)
    }

    60% {
        transform: scale(1.3)
    }

    80% {
        transform: scale(1.2)
    }

    100% {
        transform: scale(1.1)
    }
}

@keyframes shake {
    10%,90% {
        transform: translate3d(-2px, 0, 0);
    }

    20%,80% {
        transform: translate3d(4px, 0, 0);
    }

    30%,50%,70% {
        transform: translate3d(-6px, 0, 0);
    }

    40%,60% {
        transform: translate3d(6px, 0, 0);
    }
}