$color-beige: #AAAE8E;
$color-dark-beige: #828E82;


$color-green: #41b883;
$color-dark-green: #3A606E;
$color-blue: #0798ec;
$color-light-blue: #1bcee6;
$color-dark-blue: #2c3e4f;
$color-purple: #ba5be9;
$color-yellow: #fec401;
$color-orange: #ff5f45;
$color-pink: #ee1a59;

$color-white: #fdfdfd;
$color-grey: #b4b8ab;
$color-dark-grey: #607B7D;

$header-minimum-height: 4vh;
$footer-minimum-height: 4vh;
$view-minimum-height: 92vh;

$view-padding-horizontal: 2vw;
$view-padding-vertical: 2vh;

$grid-width: 114rem;
$gutter-vertical: 4rem;
$gutter-horizontal: 3rem;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body,
html {
    //This defines what 1REM is
    font-size: 62.5%;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    line-height: 1.7;
    text-align: center;

    height: 100%;
    box-sizing: border-box;
}

h1 {
    font-size: 4rem;
    margin: 0rem;
    padding: 0rem;
}

#app {
    color: $color-white;
    background-color: $color-green;
}

.view {
    min-height: $view-minimum-height;
    padding: $view-padding-vertical $view-padding-horizontal;
    font-size: 1.5rem;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem)
    }

    80% {
        transform: translateX(2rem);
    }

    100% {
        opacity: 1;
        transform: translate(0)
    }
}

@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

.row {
    max-width: $grid-width;
    margin: 0 auto;

    &:not(:last-child) {
        margin-bottom: $gutter-vertical;
    }

    @include clearfix;

    [class^="col-"] {
        float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;
        }
    }

    .col-1-of-2 {
        width: calc((100% - #{$gutter-horizontal}) / 2);
    }

    .col-1-of-3 {
        width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
    }

    .col-2-of-3 {
        width: calc(2*((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal});
    }

    .col-1-of-4 {
        width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
    }

    .col-2-of-4 {
        width: calc(2 * ((100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal});
    }

    .col-3-of-4 {
        width: calc(3 * ((100% - 3 * #{$gutter-horizontal}) / 4) + 2 * #{$gutter-horizontal});
    }
}

.basic-list {
    max-width: 100rem;
    list-style-type: none;
    font-size: 2rem;
    margin: 2rem auto;

    border: solid;
    border-color: $color-white;
    border-radius: 2rem;
    overflow: hidden;
    word-wrap: break-word;

    transition: all .2s;

    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($color-dark-grey, .2);

        &::after {
            transform: scaleX(1.5) scaleY(1.7);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba($color-dark-grey, .1)
    }
}

.advanced-list-item {
    max-width: 100rem;
    list-style-type: none;
    font-size: 2rem;
    margin: 2rem auto;
    padding: 0rem .5rem;

    border: solid;
    border-color: $color-white;
    border-radius: 2rem;

    transition: all .2s;

    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($color-dark-grey, .2);

        &::after {
            transform: scaleX(1.5) scaleY(1.7);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba($color-dark-grey, .1)
    }

    .main-link {
        color: $color-white;
        text-transform: uppercase;
        text-decoration: none;

        .media-type {
            font-weight: 700;
            margin-right: 1rem;
        }
    }
}

.action-icons {
    &>* {
        font-size: 3rem;
        font-weight: 400;
        margin: 1rem;
    }
}

.social-icons-small {
    font-size: 2rem;
    margin: 1px;
}

.social-icons-large {
    font-size: 3rem;
    margin: 1rem .5rem;
}

#menu {
    position: relative;
    text-align: left;
    min-height: $header-minimum-height;
    list-style-type: none;

    .navigation {
        display: inline-block;
        padding: 0rem .5rem;
    }

    a {
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.5rem;
        text-decoration: none;
    }

    .social-header {
        font-size: 2rem;
        text-align: right;
    }

    .right-nav {
        position: absolute;
        right: 0;
        top: 0;
        margin: 0rem 1rem;

        .social-icons-header {
            font-size: 2rem;
            margin: 0rem .5rem;
        }
    }
}

#footer {
    min-height: $footer-minimum-height;
    font-size: 1.25rem;
    font-weight: 400;
    list-style-type: none;
    text-align: right;
    margin-right: 1rem;

    a {
        color: $color-white;
        text-decoration: none;
    }

    li {
        display: inline-block;
        padding: 0rem 0.25rem;
    }
}

.toolbar--votes {
    .icon {
        font-size: 3rem;
        font-weight: 600;
        margin: 1rem 2rem;
    }

    .amount-donated {
        font-size: 2rem;
    }
}

.opinions {
    list-style-type: none;
    margin: 5rem;

    .opinion {
        margin: 1rem;
        padding: 1rem;

        .opinion-label {
            text-transform: uppercase;
        }
    }
}

#intro {
    font-size: 2rem;
    max-width: 100rem;
    margin: 2rem auto;

    #disclaimer {
      margin: 2rem;
      font-size: 1.5rem;
    }
  }

.small-text {
    font-size: 1.4rem;
}

.block {
    margin: 3rem;
}

label {
    color: $color-white;
    display: inline-block;
    width: 100%;
    font-size: 1.9rem;
    font-weight: 300;
}

button {
    color: $color-white;
    background-color: $color-green;
    font-size: 1.5rem;
    width: 35%;
    height: 5rem;
    padding: .5rem;
    margin: .5rem;
    border: 0.1rem solid $color-white;
}

input {
    text-align: center;
    display: inline-block;
    max-width: 15rem;
    width: 75%;
    height: 4rem;
    font-size: 2rem;
    border: 0.1rem solid $color-white;
    color: $color-white;
    background-color: $color-green;
}

.wide-input {
    max-width: 30rem;
    width: 95%;
}

textarea {
    text-align: center;
    display: inline-block;

    width: 100%;
    height: 30rem;
    font-size: 2rem;
    border: 0.1rem solid $color-white;
    color: $color-white;
    background-color: $color-green;
}

iframe {
    max-width: 100%;
    width: 32rem;
    height: 72rem;
    border: 0;
}